html {
    background-image: url(https://img.lovepik.com/background/20211029/medium/lovepik-geometric-element-wireframe-minimalistic-background-image_605758507.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 100%;
    height: 100%;
    margin-top: 6%;
}

.card {
    background-color: rgba(226, 226, 226, 0.9);
    margin: 2% 10%;
    padding: 20px;
    border: orange 2px dashed;
    border-radius: 10px;
}

#table-wrap {
    width: 100%;
    border-radius: 10px;
    overflow: auto;
}

table {
    border-radius: 10px;
    display: table;
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    empty-cells: show;
}

thead th {
    background-color: #ccc;
}

table td:last-child,
table th:last-child {
    border-right: none;
}

table td,
table th {
    padding: 6px 12px;
    border: 1px solid rgb(255, 255, 255);
    vertical-align: middle;
}

table td,
table th {
    /* border-right: 2px solidrgba(255, 255, 255, .7); */
    border-left: none;
    border-top: none;
    border-bottom: none;
}

tr {
    background-color: rgb(255, 202, 152);
}
#depiction {
    color: rgb(97, 97, 97);
}